SEPOLIA_RPC_URL=
GOERLI_RPC_URL=
PRIVATE_KEY=
ETHERSCAN_API_KEY=
COINMARKETCAP_API_KEY=

PRIVATE_KEY_0=

PRIVATE_KEY_1=
PRIVATE_KEY_2=
PRIVATE_KEY_3=
PRIVATE_KEY_4=
PRIVATE_KEY_5=
PRIVATE_KEY_6=
PRIVATE_KEY_7=
PRIVATE_KEY_8=
PRIVATE_KEY_9=
PRIVATE_KEY_10=
